.dsmetaCard {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
    @media (min-width: 576px) {
        .dsmetaCard {
            padding: 35px;
        }
    } 
    .dsmetaSalesTitle {
        color: #676fff;
        font-size: 24px;
        margin-bottom: 20px;  
    }
    .dsmetaFormControlContainer {
        margin-bottom: 16px;
        width: 100%;
        @media (min-width: 768px) {
            width: 50%;
        } 
        .dsmetaFormControl {
            width: 100%;
            height: 46px;
            background-color: #1b2531;
            border: 1px solid #384459;
            border-radius: 5px;
            color: #9aaabe;
            padding: 0 20px;
            font-size: 18px;
        }
    }
    .dsmetaSalesTable {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        thead {
            height: 55px;
            font-size: 16px;
            color: #e9e9e9;
            font-weight: 700;
            @media (min-width: 992px) {
                .show992 {
                    display: table-cell;
                }
            }
             @media (min-width: 992px) {
                .show576 {
                    display: table-cell;
                }
            }
        }
        tbody {
            font-size: 14px;
            font-weight: 400;
            color: #cfcfcf;
            text-align: center;
            @media (min-width: 576px) {
                tbody {
                    font-size: 18px;
                    height: 55px;
                }
            }
            tr {
                height: 74px;
                border-top: 1px solid #5f6e82;
                @media (min-width: 576px) {
                    tr {
                        height: 55px;
                    }
                } 
                @media (min-width: 992px) {
                    .show992 {
                        display: table-cell;
                    }
                }
                @media (min-width: 992px) {
                    .show576 {
                        display: table-cell;
                    }
                }
            }
            tr:hover > td {
                background-color: #384459;
            }
            tr:nth-child(odd) {
                background-color: #242c3b;
            }
        }
      }
}

.show992 {
    display: none;
}
.show576 {
    display: none;
}
